* {
  font-family: "Poppins", sans-serif !important;
}

:root {
  --btn-size: 0.8rem;
  --small-size: 0.75rem;
}

body {
  background-color: #e4e8eb;
}

.bg {
  background-color: #e4e8eb;
}

.login-card {
  width: calc(100% - 13rem);
}

.login-card h1 {
  color: #111727;
}

.login-card p {
  /* color: #b0b4b6; */
  color: #313131;
  font-size: var(--small-size);
}

.form-control:focus {
  outline: none;
  box-shadow: none;
  border: var(--bs-border-width) solid var(--bs-border-color);
}

.login-card label {
  font-size: var(--small-size);
}

form.form input {
  font-size: var(--small-size);
}

form.form input::placeholder {
  font-size: var(--small-size);
}

form.form button:nth-of-type(1) {
  color: #fff;
  background-color: #111727;
  font-size: var(--btn-size);
}

form.form button:nth-last-child(1) {
  color: #111727;
  border: 1px solid #111727;
  font-size: var(--btn-size);
}

form.form button:nth-last-child(2) {
  color: #111727;
  border: 1px solid #111727;
  font-size: var(--btn-size);
}

.checkbox label {
  font-size: var(--small-size);
}

.checkbox a {
  font-size: var(--small-size);
  color: #111727;
}

.signup {
  font-size: var(--small-size);
}

.signup a {
  color: #111727;
}

@media (max-width: 480px) {
  .login-card {
    width: calc(100% - 2rem);
  }
}
